# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt creator
*.pro.user
*.qmake.stash

# Build
*Makefile
*build*
*Build*
*build/*
*Build/*

# IDE
.vscode*

# obj file
*.obj
*.sharp
*.rosy
*.patch
*.corners
*.c_feature
*.feature

# others
components/field_computation/field_computation
components/field_computation/moc_glwidget.cpp
components/field_computation/moc_predefs.h
quadwild/quadwild_test.cpp
quadwild/quadwild_test.pro
